body {
    font-family: 'Old Standard TT', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #41729f;
    padding: 1.5rem 1vw;
    display: flex;

}
header div {
    padding-left: 2vw;
}
header h1 {
    color:#c3e0e5;
    margin:0;
}
header p{
    color:#c3e0e5;
    margin: 0;
    
}


@media only screen and (max-width: 600px) {
    nav ul{
        list-style-type:none;
        margin: 0;
        padding: 0 1vw;
    }
    nav a {
        color: #c3e0e5;
        padding: 1rem 2rem;
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: solid;
    }
    nav li.active a {
        background-color: #c3e0e5;
            color: #274472;
}

} 

@media only screen and (min-width: 601px) {
    nav{
        border-top: solid;
    }
    nav ul{
        display: flex;
        list-style-type:none;
        margin: 0;
        padding: 0 1vw;
    }
    nav a {
        color: #c3e0e5;
        padding: 1rem 2rem;
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: solid;
    }
    nav li.active a {
        background-color: #c3e0e5;
        color: #274472;
        background-image: linear-gradient(#c3e0e5, #fcfcfc)
        
    }
    nav a:hover{
        color:#aaa;
    }
}


/*nav stuff here*/


/*main stuff here*/
main h1{
    padding: 0 1vw;
    color: #41729f;
}
main p{
    padding: 0 1vw;
}
main h2 {
    padding: 0 1vw;
    color: #274472;
}
main address{
    padding: 0 1vw;
}
main a {
    color: #274472;
}

.guitarhero {
    width: 100%;
    margin: 0;
    
}
.guitarhero img {
    width: 100%;
    height: auto;
}

main a:hover{
    color: #aaa;
}
main ul{
    list-style-type:square; 
}
main li{
    padding: .5rem;
    margin: .5rem;
}
main dl dt{
    color:#5885af;
    padding: 0 1vw;
}
main dl dd{
    color: #274472;
    padding: 0 1vw;
} 



figure.guitarman {
    float: right;
    width: 30%;
}

figure.guitarman img {
    width: 100%;
    height: auto;  
}

figure.guitarman figcaption {
    text-align: center;
    font-size: .75rem;
}





div.pics{
    display: flex;
    flex-wrap: wrap;
}
div.pics figcaption {
    text-align: center;
    font-size: .75rem;
}


div.pics img:hover{
    box-shadow: 1px 1px 12px rgba(0,0,0,0.3);
}




.applyForm fieldset{
    border: 2px #274472;
    margin-top: 2rem;

}

.applyForm legend{
    color:#274472;
    margin: .7rem;
    font-size: 1.2rem;
    
}

.applyForm label{
    margin: .7rem;
    

}

.applyForm label, .applyForm select, .applyForm textarea, .applyForm [type=text], .applyForm [type=tel], .applyForm [type=email] {
    display: block;
}

.applyForm [type=text], .applyForm [type=tel], .applyForm [type=email], .applyForm textarea, .applyForm select {
    border: solid 2px;
    border-radius: .5rem;
    color: #274472;
}

.applyForm [type=submit] {
    margin: .7rem;
    padding: 1rem;
    background-color: #c3e0e5;
    border-radius: .5rem;
    padding: 2rem;
}

.applyForm :required{
    background-color: #c3e0e5;
}


























/*footer stuff here*/
footer {
    text-align: center;
    font-size: .7rem;
    background-color: #c3e0e5;
    font-weight: 700;
    clear:both;
} 
footer a {
    color: #274472;
}